.navbar{
    background-color: #04A2E1;
}
.navbar-header>a>img{
    height: 180px;
    width: 180px;
    margin-top: -60px;
    margin-bottom: -20px;
}
.navbar-collapse{
    
    text-align: center;
    border: none;
  }
.navbar-default .navbar-nav>li>a{
    color: white;
}

#home:hover, #pricing:hover, #services:hover{
    border-bottom: 2px solid #33D65B;
    transform: scale(1.1);
    font-weight: bold;
    color: white;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
#container>div{
    background-color: lightblue;
    padding: 20px;
}
#timeSection{display:flex; 
    justify-content: space-between
}
#nameSection{
    display: flex;
    flex-wrap: wrap;
}
#nameSection p, #numSection p, #addSection p{
    margin: 10px 0 5px 0;
}
#addSection{
    margin-bottom: 20px;
}
#addSection input{
    margin-bottom: 6px;
}