body, p{
    margin: 0;
    padding: 0;
}
.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}
.nav-tabs>li {
  float: none;
}
.timesContainer{
  display: flex;
  padding: 20px 0;
  background-color: whitesmoke; 
  justify-content: space-around
}
.navbar{
    background-color: #04A2E1;
}
.navbar-header>a>img{
    height: 180px;
    width: 180px;
    margin-top: -60px;
    margin-bottom: -20px;
}
.navbar-collapse{
    text-align: center;
    border: none;
  }
.navbar-default .navbar-nav>li>a{
    color: white;
}

#home:hover, #pricing:hover, #services:hover{
    border-bottom: 2px solid #33D65B;
    transform: scale(1.1);
    font-weight: bold;
    color: white;
    margin-right: 5px
}
.container{
  margin: 70px auto;
}
#timeSection{
  text-align: center;
}
h4{
    background-color: #33D65B;
    padding:  15px 0;
    color: white;
    margin: 0
}
#pickupTimeContainer, #deliveryTimeContainer{
  border: 1px solid lightgray;
  padding: 0;
}
#time_sedule_container{
    margin-top: 20px;
}
h4{
  text-align: center;
}
#timing{
  margin: 0 20px
}
.pickup_time{
  margin-bottom: 50px
}
.dateContainer div{
  cursor: pointer;
  display: block;
}
.timesContainer{
  display: flex; 
  justify-content: space-around
}
.timeDiv{
  margin-bottom: 10px;
  border: 1px solid lightgray;
  padding: 8px 15px;
  cursor: pointer;
}
.activeTimeElement{
  background-color: #04A2E1;
  border:none;
  transform: scale(1.1);
  font-weight: bold;
  color: white;

}
small{
  color: lightgray;
}
.disableElement{
    background-color: gray;
    cursor: default;
}
.btn{
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 20px 0;
  line-height: 3px;
}

.oneDayGap{
  background-color: black;
}