window.scroll{
  top: 2500; 
  left: 0;
  scroll-behavior: smooth; 
}
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}
.row{
  margin: 0;
}
/* ============================================== */

@media only screen and (max-device-width: 1024px) {
  .mainSection {
      background-attachment: scroll;
  }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
      .BImage{
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        text-align: center;
      }
         /* on Safari and Chrome  */
}
