body{
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
}
.navbar{
    margin-bottom:0 !important;
    font-family: 'Lato';
    font-weight: bold;
    background-color: #04A2E1;;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-header>a>img{
    height: 180px;
    width: 180px;
    margin-top: -60px;
    margin-bottom: -20px;
}
.navbar-header button{
    border: none;
}
.navbar-collapse{
    border: none;
}
.navbar-collapse ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
#pageContent{
    margin-top: 50px;
}
#home:hover, #pricing:hover, #services:hover{
    border-bottom: 2px solid #33D65B;
    transform: scale(1.1);
    font-weight: bold;
    color: white;
}
#priceListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.priceListItemsContainerBorderRight{
    border-right: 1px solid lightgray;
}
.priceListItemsContainerBorderLeft{
    border-Left: 1px solid lightgray;
}
.priceListItemsContainer{
    margin: 10px 0;
    padding: 0 10px 15px 10px;
    text-align: center;
}
.priceListItemsContainer>img{
    height: 200px;
    width: 100%;
    padding-top: 6px;
}
.priceListItemContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Lato';
    margin: 10px 0;
    border-bottom: 1px solid lightgray;
}
.priceListItemContentRight>img{
    margin-right: 8px;
    width: 140px;
    height: 140px;
}
.priceListItemContentLeft{
    margin-top: 20px;
    padding-bottom: 5px;
    flex: 1
}
.priceTitle, .quantity{
    color: lightgray;
}
.btnContainer{
    display: flex;
    justify-content: space-around;
     
}
.btnContainer button{
    padding:2px 5px;
}
.priceListItemContentRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sectionsHeading{
    font-size: 1.5em;
    font-family: 'Lato','Open Sans';
  }
#subFooter{
    background-color: #04A2E1;
    padding: 20px 0 0;
    color: white;
    margin-top: 100px;
}
#extimateSection{
    display: flex;
    justify-content: space-between;
    position:fixed;
    flex: 1;
    padding: 10px 20px;    
    background:#22bb99;
    border-radius: 10px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Lato', 'Open-san';
    right:20px;
    bottom:20px;
    width: 200px
}
#busketQuantity{
    position: absolute; 
    top:7px; 
    left:28px
}
#extimateSection p {
    margin: 0;
}
#mainFooter{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
  }
