.navbar{
    margin-bottom:0 !important;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    font-family: 'Lato';
    font-weight: bold;
    z-index: 2;
  }
  .navbar-collapse{
    text-align: center;
    border: none;
  }
  .nav{
    background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  }
  .navbar-default .navbar-nav>li>a{
    color: white;
    background-color: transparent
  }
  .navbar-default .navbar-nav>li>a:hover{
    background-color: #04A2E1;
      transform: scale(1.1);
      font-weight: bold;
      color: white;
  }
  .navbar-header>a>img{
    height: 150px;
    width:150px;
    margin-top: -40px;
    margin-bottom: -20px;
  }